
body{
  background-color: #ddd;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav ul{
  list-style-type: none;
}

nav li{
  /*Your code here */
  display: inline-block;
  padding-right: 20px;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position:absolute; /*Your code here - position relative to the parent */;
  top: -40px;      /*Your code here - place 40px higher */;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
/*Add the selector and rule to move the skip link to the exact top.*/

position: relative;
top: auto;
}

a:focus{
/*Add the selector and code to put a 2px black border around all elements in focus.*/
border: 2px solid black;

}


footer{
  background-color: black;
  color: white;
  grid-column: 1 / -1;  /*Can you explain what this does?*/
  grid-row: 7 / auto;   /*Can you rewrite it?*/
  padding-top: 30px;
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-rows: 30px auto auto auto auto auto 100px;
  grid-row-gap: 15px;
  width: 100vw;
}

.nav{
   text-align: left;
   align-self: center;
   padding: 20px 0px;
   grid-column: 1/-1;
   grid-row: 1/2;
   background-color: #ddd;
  padding: 20px 0;
  text-align: left;
}
